.container {
  background-color: #242424 !important;
  cursor: pointer;
  display: flex;
  padding: 20px;
}

.container img {
  height: 90px;
  width: 120px;
}

.detailsContainer {
  background-color: #242424 !important;
  color: #fafafa !important;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 50%;
}

.detailsContainer h6 {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailsContainer h6:hover {
  text-decoration: underline;
}

.secondaryText {
  color: #aaa;
}
